data/sites
data/shared
paper/figures
paper/loc_map
paper/ISPRS_congress/latex
paper/ISPRS_congress/*.svg
paper/ISPRS_congress/acceptance_message.txt
paper/ISPRS_congress/action_required_message.txt
paper/ISPRS_congress/copyright_confirmation.txt
paper/ISPRS_congress/isprs_fullpaper_highlighted.pdf
paper/ISPRS_congress/ISPRSabstract_formatted.doc
paper/ISPRS_congress/poster.svg
R/deprecated
results/grids/**/*.png
.Rproj.user
Rplots.pdf
